@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LoginScreen{
    width: 98vw;
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.loginImg img{
    height : 60vh;
    width: 40vw;
}

.loginForm{
    width: 25vw;
    height: 80vh;
    display: grid;
    grid-template-rows: 70% 15% 15%;
    row-gap: 4rem;
}

.signInPart{
    border-color: white;
    border: 1px solid black;
    padding: 1rem;
    height: 60vh;
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

.loginForm .logo{
    font-family: 'Satisfy', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: rgb(42, 116, 42);
}

.inputs{
    display: grid;
    grid-template-rows: auto auto;
    row-gap: 1rem;
}

.inputs input{
    height: 2rem;
    border-radius: 5px;
    padding: 1rem 0.5rem;
}

.inputs input::placeholder{
    padding: 1rem 0.5rem 0 0;
}

.LoginBtn{
    background: rgb(42, 116, 42);
    color: white;
    width: 10vw;
    border-radius: 5px;
    text-align: center;
}

.inputs span p{
    display: flex;
    justify-content: space-evenly;
}

.loginFormFooter{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signOutPart{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    
}
.SignUpBtn{
    background: rgb(42, 116, 42);
    width: 5vw;
    border-radius: 5px;
    align-items: center;
}

.SignUpBtn a{
    color: white;
    text-decoration: none;
}